.hero {
  height: 100vh;
  position: relative;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;

  .hero-title {
    color: #fff;
    font-weight: 600;
    font-size: 4.5rem;
    margin-bottom: 1.5rem !important;
  }

  .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0 px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
