#header {
  display: block;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;

  &.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 12px 0;
  }

  .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;

    a {
      color: #fff;
    }
  }

  a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  h1 {
    color: #1e1e1e;
    line-height: 1.2;
  }
}

.header {
  align-items: center !important;
  justify-content: space-between !important;
  display: flex !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
