*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: block;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #f5f5f5;
  color: #4e4e4e;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
